.idea/
*.iml

.classpath
.project
bin/
.settings/

# Gradle
.gradle
/build/

target/
/gradle/
/.idea/
/.idea/*
/.idea/misc.xml
/.idea/modules.xml
.idea/vcs.xml
.idea/gumball-machine-clean-solution.iml
.idea/.gitignore
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
/out/
